---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
---

<Layout title="Text" description="雑記おき">
    <Container>
        <div class="container mx-auto flex flex-col  [&>p]:mb-4">
            <p>攻略等の置き場所がない文書の集い。</p>

            <div
                class="grid grid-cols-1 gap-4 sm:grid-cols-2 [&>div]:flex [&>div]:flex-col"
            >
                <div>
                    <a href="/text/develop" class="btn-game"
                        >パソコン・ガジェット関連</a
                    >
                </div>
            </div>
        </div>
    </Container>
</Layout>

<style>
    @reference "src/styles/global.css";
</style>
