---
import { getCollection, type CollectionEntry } from 'astro:content'
import Layout from '@layouts/Layout.astro'
import Container from "@components/Container.astro";
import { YouTube } from 'astro-embed'

type GameEntry = CollectionEntry<'game'>

export async function getStaticPaths() {
	const entries: GameEntry[] = await getCollection('game')
	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry }
	}))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title} description='{entry.data.description}'>
	<Container>
	<div class='prose prose:lg md:prose-xl *:mb-4 dark:prose-invert min-w-full'>
		<Content components={{ YouTube }} />
	</div>
	</Container>
</Layout>
