---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagefind from "@components/PageFind.astro";
import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
const isLilyPage = Astro.url.pathname.startsWith("/lily");
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body class:list={{ "lily-page": isLilyPage }}>
    <noscript>
      <style>
        .animate{
          opacity:1;
          translate: var(--tw-translate-x) calc(var(--spacing) * 0);
        }
      </style>
    </noscript>
    <Header />
    <main>
      <h1 class='text-5xl font-bold mx-auto mb-8 max-w-(--breakpoint-lg)'>{title}</h1>
      <slot />
    </main>
    <Footer />
    <Pagefind />
  </body>
</html>
